.header {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  background-color: lightcoral;
  display: flex;
  justify-content: space-around;

  &__buttons {
    align-items: center;
    display: flex;
    width: 300px;
    justify-content: space-between;
  }

  &__logo {
    align-items: center;
    height: 100px;
  }

  // &__icon {
  //   color: yellowgreen;
  // }

  // &__icon:hover {
  //   color: white;
  // }
}
